/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	color: #666666;
}

h1, h2, h3 {
	margin: 0;
	font-weight: normal;
	color: #3F586B;
}

h1 {
	/*font-size: 197%;*/
}

h1 a{
        text-decoration: none;
        color:inherit;
}

h2 {
	/*font-size: 167%;*/
}

h2 a{
        text-decoration: none;
        color:inherit;
}

h3 {
	/*font-size: 100%;*/
	font-weight: bold;
}

h3 a{
        text-decoration: none;
        color:inherit;
}

p, ol, ul {
	/*line-height: 170%;*/
}

p {
}

ol {
	margin-left: 0;
	padding-left: 0;
	list-style-position: inside;
}

ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

ul li {
	padding-left: 15px;
	background: no-repeat 0px 7px;
}

blockquote {
	margin: 0;
	padding-left: 20px;
	font-style: italic;
}

blockquote * {
}

a {
	color: #FF5723;
}

a:hover {
	text-decoration: none;
	color: #1777B1;
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 3px 15px 0 0;
}

img.right {
	float: right;
	margin: 3px 0 0 15px;
}

hr {
	display: none;
}

/* Header */

#header_parent {
	background: #FFFFFF url(images/img01.gif) repeat-x;     
}

#header {
	width: 700px;       
	height: 235px;
	margin: 0 auto;
	background: #A4C0C8 url(images/img02.jpg) no-repeat;
}

/* Logo */

#logo {
	height: 190px;
}

#logo h1, #logo h4 {
	text-align: center;
}

#logo h1 {
	padding-top: 40px;
	/*font-size: 350%;*/
}

#logo h2 {
	/*font-size: 150%;*/
}

#logo a {
	text-decoration: none;
	color: #3F586B;/*kolor napisu-kolor linku w logo (janina st�cel doradca aviva)*/
}

/* Menu */

#menu {
	padding-top: 0;
}

#menu ul {
	margin: 0;
	padding: 0 0 0 0;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline;
	margin: 0;
	padding: 0;
}

#menu a {
	padding: 2px 15px;
	text-decoration: none;
	font-size: 110%;
	color: #610720;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .active a {
	color: #FFFFFF;
}

#menu .noactive a {
	color: #363232;
}

.bg-belka {
        background-color: #ff5723;
}

/* Page */

#page {
	width: 1000px; /*800px;*/
	margin: 0 auto;
	padding: 30px 0;
}

#page_kokpit {
	width: 1000px;
	margin: 0 auto;
	padding: 30px 0;
}

/*#page_edycja {
	width: 900px;
	margin: 0 auto;
	padding: 30px 100px;       
}*/

/* Content */

#content_kokpit {
	float: right;
	width: 700px;
	padding-top: 8px;
}

#content_edycja {
	width: 1000px;
	padding: 8px;
}

#content {
	float: left;
	width: 700px;/*500px;*/
	padding-top: 8px;
}

.twocols {
        margin-top: 40px;
}

.twocols .title {
	padding-bottom: 10px;
	border-bottom: 1px solid #97C984;
}

.twocols .col1, .twocols .col2 {
	width: 300px;
}

.twocols .col1 {
	float: left;
}

.twocols .col2 {
	float: right;
}

.twocols ul {
}

.twocols ul li {
	padding-left: 0;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 260px;
}

#sidebar_kokpit {
	float: left;
	width: 260px;
}

.boxed {
	margin: 0 0 20px 0;
}

.boxed .title {
	width: 260px;
	height: 35px;
	margin: 0;
	padding: 10px 0 0 10px;
	background: #A8C3CB url(images/img03.jpg) no-repeat;
	font-size: 16px;
	color: #144B6B;
}

.boxed .content {
	padding: 20px;
	border: 1px solid #97C984;
	border-top: none;
}

.boxed h3 {
	margin: 0;
}

.boxed p, .boxed ul, .boxed ol {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

.boxed ul {
}

.boxed ul li {
	padding: 8px 0 8px 10px;
	background: url(images/img04.gif) no-repeat 0px 13px;
}

.boxed ul li.first {
	border: none;
}

/* Registration, Log in, Log out, Main routing */

#log_box {
	float: left;
        padding: 2px;
        width: 256px;
        text-align: center;
}

#log_box a{
        text-decoration: none;
}

/* Search */

#search {
}

#search form {
	margin: 0;
	padding: 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search p {
	float: left;
	padding-top: 5px;
	font-size: 85%;
}

#searchinput {
	width: 210px;
	margin-bottom: 5px;
}

#searchsubmit {
	float: right;
}

/* Footer */

#footer {
	height: 100px;
	padding: 20px;
	background: #5F919E;
	border-top: 5px solid #4C747E;
}

#footer p {
	margin: 0;
	text-align: center;
	line-height: normal;
	font-size: 85%;
	color: #FFFFFF;
}

#footer a {
	color: #FFFFFF;
}

table.lista_art tr.listwa{

       background-color: #c2d5db;/*#A4C0C8;*/
       /*border-right: 1px solid #000;*/
       /*color:#000;*/
       /*font-weight: 400;*/
       /*text-decoration: underline;*/
}

td.tytul{
        width:310px;
}

td.data{
        width: 102px;
}

td.plus{        
        text-decoration: none;
        text-align: center;
}

table.lista_art tr.linia td{

        /*border-top-style: outset; */
        border-bottom-width: thin; border-bottom-style: solid;
        border-color: #fff;
        height: 36px;
}

table.lista_art tr.linia2 td{

        /*border-top-style: outset; */
        border-bottom-width: thin; border-bottom-style: solid;
        border-color: #fff;
        height: 36px;
        color: #c7c7c7;
}

/* Rejestracja & Odzyskiwania hasła */

#rejestra_field{
        margin: 0 120px;
}

#rejestra_field h1{
        text-align: center;
}

#rejestra_div, #res_psw_div{
        width: 340px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
}

#rejestra_div form {
        width: 340px;
        /*margin-left: 50px; /* Tym marginesem ustawiać wycentrowanie całego formularze w #rejestra_div */
	padding: 0;
        display: inline-block;
        text-align: center;
}

#rejestra_div fieldset {
        margin: 0; 
	padding: 0;        
	border: none;
}

#res_psw_div form {
        width: 340px;
        /*margin-left: 88px; /* Tym marginesem ustawiać wycentrowanie całego formularze w #res_psw_div */
	padding: 0;
        display: inline-block;
        text-align: center;
}

#res_psw_div fieldset {
        margin: 0; 
	padding: 0;        
	border: none;
}

.form-error-little {
        color: red;
        font-weight: bold;
        font-size: 11px;
}

.form-error-contact {
        /*color: red;*/
}

.form-error {
        color: red;
        font-weight: bold;
}

.form-success {
        color: green;
        font-weight: bold;
}

.input-error {
        box-shadow: 0 0 5px red;
}

/*Logowanie*/

#log_submit {
	float: right;
}

/*Kokpit - User Profile*/

.user_profile_left_title{
        float: left;
        width: 180px;
        margin-top: 18px;
        text-align: right;
        padding: 0 10px;
        background-color: #c2d5db;/*#A4C0C8;*/
        /*color:#000;
        font-weight: bold;*/
}

.user_profile_right_title{
        float: left;
        width: 379px;
        margin-top: 18px;
        border-left: 1px solid #97C984;
        padding: 0 10px;
        background-color: #c2d5db;/*#A4C0C8;*/
        /*color:#000;
        font-weight: bold;*/
}

.user_profile_left{
        float: left;
        width: 180px;
        min-height: 30px;
        text-align: right;
        padding: 10px;
}

.user_profile_right{
        float: left;
        width: 379px;
        min-height: 30px;
        border-left: 1px solid #97C984;
        padding: 10px;
}

.user_profile_kontakt{
        border-top: 1px solid #97C984;
        padding: 4px;
        margin-bottom: 10px;
}

.long_input{
        width: 380px;
}

/* Kontaktowy formularz*/

.kontaktform_loadButt{
        background-color: white;
        color: #FF5723;
        border: none;
        margin: 4px 0;
        font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
        padding: 0px;
        text-decoration: underline;
}

.kontaktform_loadButt:hover {
	text-decoration: none;
	color: #1777B1;
}

/*.user_profile_kontakt form {
        width: 340px;
	padding: 0;
        display: inline-block;
        text-align: center;
}

.user_profile_kontakt fieldset {

        border: 2px solid #A4C0C8;
}*/

/*Cookie message*/
.cookie_container{
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    min-height: 46px;
    background: #5F919E;/*#A4C0C8;/*#2f3640;*/
    color: #f5f6fa;
    padding: 2px 32px;
    text-align: center;
    /*box-shadow: 0 -2px 16px rgba(47, 54, 64);*/
    
    transition: 1000ms;
}
.cookie_container.active{
    bottom: 0;
}
.cookie_button{
    /*background: #c2d5db;*//*#ff5723;*/background: #A8C3CB url(images/img03.jpg) no-repeat;
    border: 0;
    color: #144B6B;/*#f5f6fa;*/
    padding: 12px 48px;
    /*font-size: 18px;
    font-weight: bold;*/
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 4px;
    /*border-radius: 8px;*/
    cursor: pointer;
}